package gherkinexecutor.Feature_Tables_and_Strings
import kotlin.test.fail

class Feature_Tables_and_Strings_glue {

    fun Star_A_multiline_string_to_a_string( value : String) {
        println("---  " + "Star_A_multiline_string_to_a_string")
        println(value)

    }

    fun Star_A_multiline_string_to_a_List_of_String( value : List<String>) {
        println("---  " + "Star_A_multiline_string_to_a_List_of_String")
        println(value)

    }

    fun Star_A_table_to_List_of_List_of_String( value : List<List<String>>) {
        println("---  " + "Star_A_table_to_List_of_List_of_String")
        println(value)

    }

    fun Star_A_table_to_List_of_Object( value : List<ExampleClass>) {
        println("---  " + "Star_A_table_to_List_of_Object")
        println(value)

    }

    fun Star_A_table_to_List_of_Object_with_Defaults( value : List<ExampleClass>) {
        println("---  " + "Star_A_table_to_List_of_Object_with_Defaults")
        println(value)

    }

    fun Star_A_table_to_List_of_Object_with_Blanks_in_Name( value : List<ExampleClassWithBlanks>) {
        println("---  " + "Star_A_table_to_List_of_Object_with_Blanks_in_Name")
        println(value)

    }

    fun Star_A_table_to_String( value : String) {
        println("---  " + "Star_A_table_to_String")
        println(value)

    }

    }
