package gherkinexecutor.Feature_Data
import kotlin.test.fail

class Feature_Data_glue {

    fun Given_table_is( value : List<ATest>) {
        println("*******")
        println(value)
         fail("Must implement")
    }

    fun Given_a_step( value : List<MyClass>) {
        println("*******")
        println(value)
         fail("Must implement")
    }

    }
