package gherkinexecutor.Feature_Gherkin_Translator_Smoke_Test
import kotlin.test.assertEquals

class Feature_Gherkin_Translator_Smoke_Test_glue {



    fun Given_feature_file_is( value : List<List<String>>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    } 

    fun When_translated(){
        println("*******")
         assertEquals(true, false)
    } 

    fun Then_test_file_should_match_expected( value : List<FileNames>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    } 

    fun And_data_file_should_match_expected( value : List<FileNames>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    } 

    fun And_glue_template_file_should_match_expected( value : List<FileNames>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    } 
    }
