package gherkinexecutor.Feature_Tic_Tac_Toe_Game
data class Move(
    var row: String = "0",
    var column: String = "0",
    var mark: String = " ",
    )
 {
    fun toMoveInternal() : MoveInternal{
        return MoveInternal(
        row.toInt(),
        column.toInt(),
        mark.toChar(),
        ) }
    }
data class MoveInternal(
    var row: Int= "0".toInt(),
    var column: Int= "0".toInt(),
    var mark: Char= " ".toChar(),
    ) {
    fun toMove() : Move{
        return Move(
        row.toString(),
        column.toString(),
        mark.toString(),
        ) }
    }
