package gherkinexecutor.Feature_Tic_Tac_Toe_Game
import kotlin.test.assertEquals

class Feature_Tic_Tac_Toe_Game_glue {

    fun Given_board_is( value : List<List<String>>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    }

    fun When_move_is( value : List<Move>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    }

    fun Then_board_is_now( value : String) {
        println("*******")
        println(value)
         assertEquals(true, false)
    }

    fun When_one_move_is( value : List<List<Move>>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    }

    fun When_moves_are( value : List<Move>) {
        println("*******")
        println(value)
         assertEquals(true, false)
    }

    }
