package gherkinexecutor
import kotlin.test.assertEquals
import gherkinexecutor.*

class Feature_Parse_CSV_glue {



    fun Given( value : String) {
        assertEquals(true,false)
    } 

    fun When_converted_result_is( value : String) {
        assertEquals(true,false)
    } 


    fun Given_input_table( value : List<List<String>>) {
        assertEquals(true,false)
    } 

    fun When_transposed_result_is( value : List<List<String>>) {
        assertEquals(true,false)
    } 
    }
