package gherkinexecutor
import kotlin.test.assertEquals
import gherkinexecutor.*

class Feature_Data_glue {



    fun Given_a_step( value : List<MyClass>) {
        assertEquals(true,false)
    } 


    }
